<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="codesgesture.app.jeevandhara">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JeevanDhara"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="codesgesture.app.jeevandhara.LoginPage" />
        <activity android:name="codesgesture.app.jeevandhara.Register" />
        <activity android:name="codesgesture.app.jeevandhara.DashBoard" />
        <activity android:name="codesgesture.app.jeevandhara.PageDeveloper" />
        <activity android:name="codesgesture.app.jeevandhara.PageTerm" />
        <activity android:name="codesgesture.app.jeevandhara.PagePrivacy" />
        <activity android:name="codesgesture.app.jeevandhara.PageRefund" />
        <activity android:name="codesgesture.app.jeevandhara.Product" />
        <activity android:name="codesgesture.app.jeevandhara.ProductDetails" />
        <activity android:name="codesgesture.app.jeevandhara.Categories" />
        <activity android:name="codesgesture.app.jeevandhara.Profile" />
        <activity android:name="codesgesture.app.jeevandhara.ProductList" />
        <activity android:name="codesgesture.app.jeevandhara.ShareApp" />
        <activity android:name="codesgesture.app.jeevandhara.PageAddress" />
        <activity android:name="codesgesture.app.jeevandhara.UpdateAddress" />
        <activity android:name="codesgesture.app.jeevandhara.AddAddress" />
        <activity android:name="codesgesture.app.jeevandhara.PageFinalOrder" />
        <activity android:name="codesgesture.app.jeevandhara.PageInvoice" />
        <activity android:name="codesgesture.app.jeevandhara.PageOrder" />
        <activity android:name="codesgesture.app.jeevandhara.OrderProductDetails" />
        <activity android:name="codesgesture.app.jeevandhara.RedeemWallet" />
        <activity android:name="codesgesture.app.jeevandhara.TransactionHistory" />

        <receiver
            android:name=".Services.InstallRefererReciever"
            android:exported="true"
            android:permission="android.permission.INSTALL_PACKAGES">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

    </application>

</manifest>